.homepage--newarrivals {
  margin: 0 auto 25px;
  padding: 0 15px;

  h2 {
    text-align: center;

    margin-bottom: 19px;
    font-size: 20px;
    line-height: 37px;
  }

  @media (min-width: 768px) {
    margin-bottom: 51px;
    max-width: 1296px;
    padding: 0;

    h2 {
      margin-bottom: 39px;
      font-size: 35px;
      line-height: 65px;
    }
  }
}