.announce-bar {
  background-color: black;
  height: 21px;

  p {
    margin: 0;
    padding-top: 2.5px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }

  @media (min-width: 768px) {
    height: 59px;

    p {
      padding-top: 13px;
      font-size: 26px;
      line-height: 32px;
    }
  }
}